@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

.container {
  position: relative;
  display: flex;
  width: 100vw;
  min-height: 100vh;

  .aside {
    position: relative;
    z-index: levels.$GNB;
    width: 150px;
    min-width: 150px;
    padding: 0 20px;
    background: colors.$BG_ASIDE;
  }

  .wrapper {
    position: relative;
    width: calc(100vw - 150px);
    min-width: 880px;
    background: colors.$BG_G;
  }

  .header {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    line-height: 50px;
    border-bottom: 1px solid colors.$BORDER;
  }

  .main {
    margin: 20px;
  }
}
