@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

.container {
  position: relative;
  display: flex;
  width: 100vw;
  max-width: 1440px;
  min-height: 94vh;
  margin: 0 auto;

  .aside {
    position: relative;
    top: 50px;
    z-index: levels.$GNB;
    width: calc(100vw - 150px);
    width: 150px;
    min-width: 150px;
    padding: 0 20px;
    background: colors.$BG_ASIDE;
  }

  .wrapper {
    position: relative;
    top: 50px;
    width: calc(100vw - 150px);
    min-width: 880px;
    background: colors.$BG_G;
  }

  .main {
    margin: 20px;
  }
}

.header {
  position: fixed;
  z-index: levels.$HEADER;
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  line-height: 50px;
  background: colors.$BG_ASIDE;
  border-bottom: 1px solid colors.$BORDER;
}
