@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/responsive';

.container {
  position: relative;
  color: var(--color-text);
  background: var(--color-background);

  header {
    @include position.fixed(auto auto 40px 50px);
    z-index: levels.$HEADER;

    @include responsive.mobileOnly {
      @include position.fixed(20px auto auto 20px);
    }
  }

  main {
    width: 100vw;
    min-height: 100vh;
  }
}
