@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.valueBox {
  @include flexbox.flexbox;
  padding: 8px;
  background-color: white;
  border: 1px solid colors.$GRAYA;
  border-radius: 4px;
}

.dropdown {
  position: absolute;
  margin-top: 5px;
  background-color: white;
  border-radius: 4px;

  .searchWrap {
    @include flexbox.flexbox('start');

    .searchIcon {
      position: absolute;
      left: 2px;
    }
  }

  li,
  input {
    @include flexbox.flexbox('between');
    padding: 14px 20px;
    border-bottom: 1px solid colors.$GRAYE;
  }

  input {
    padding-left: 22px;
  }

  li:hover {
    color: colors.$WHITE;
    background-color: colors.$GREENC;
  }

  .checkIcon {
    color: colors.$WHITE;
  }
}
