@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';
@use '/src/styles/mixins/animation';

.detail {
  @include flexbox.flexbox('center', 'start');
  padding: 140px 24px 20px;
  font-weight: 300;
  line-height: 24px;
  color: var(--color-primary);
  animation: fadeInUp 1s forwards;

  h1 {
    font-size: 36px;
    font-weight: 700;
  }

  h2 {
    margin: 36px 0 12px;
    font-size: 18px;
    font-weight: 600;
  }
}

.contentWrap {
  @include flexbox.columnFlexbox('start', 'start');
  position: relative;
  width: 700px;

  .closeButton {
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 24px;
    color: var(--color-text);
  }

  .subtitle {
    padding: 0 10px;
    margin-top: 20px;
    border-left: 4px solid #ffaa00;
  }

  .role {
    li {
      margin: 10px 0 10px 10px;
      line-height: 1.6;

      &::before {
        margin-right: 8px;
        font-size: 16px;
        content: '⦁';
      }
    }
  }

  .links {
    @include flexbox.flexbox;

    svg {
      margin-right: 12px;
      fill: var(--color-text);
    }
  }
}
