@use '/src/styles/constants/colors';

.oCare {
  width: 100%;
  padding: 20px 0;

  .title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .desc {
    line-height: 1.4;
    color: colors.$TEXT_SECONDARY;

    strong {
      font-weight: 600;
      color: colors.$TEXT_PRIMARY;
    }
  }
}
