@use '/src/styles/constants/colors';

.header {
  width: 100%;
  height: 56px;
  background: colors.$BG_ASIDE;
  box-shadow: #0000000d 0 6px 24px 0, #00000014 0 0 0 1px;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 140px;
    height: 50px;
    margin-left: 6px;
    text-align: left;

    .moaLogo {
      width: 116px;
      height: 50px;
    }
  }

  .user {
    display: flex;
    align-items: center;

    li {
      margin-left: 12px;
    }

    li:last-of-type {
      margin-right: 12px;
    }

    a {
      all: unset;
    }
  }
}
