@use 'src/styles/constants/colors';

.totalScore {
  position: relative;

  .title {
    position: relative;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;

    .iIcon {
      position: absolute;
      width: 20px;
      height: 20px;
      margin-left: 4px;

      path {
        fill: colors.$TEXT_SECONDARY;
      }
    }
  }

  .pieChartText {
    position: absolute;
    top: 45%;
    left: 35%;
    color: colors.$TEXT_SECONDARY;
    text-align: center;

    strong {
      font-size: 48px;
      font-weight: 900;
      color: colors.$TEXT_PRIMARY;
    }
  }

  .sub {
    position: absolute;
    top: 80%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);

    .healthDate {
      margin-bottom: 16px;
      line-height: 1.6;
      color: colors.$TEXT_SECONDARY;
    }

    button {
      width: 320px;
      font-size: 16px;
      color: colors.$TEXT_SECONDARY;
    }
  }
}
