@use '/src/styles/constants/colors';

.app {
  position: realative;
  max-width: 375px;
  min-height: 100vh;
  padding: 0 20px;
  margin: 0 auto;
  text-align: center;
  background: colors.$BACKGROUND;
}
