@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/animation';

.background {
  @include position.middleBox;
}

.modalWrap {
  @include flexbox.flexbox;
  width: 380px;
  height: 220px;
  background-color: colors.$GRAY2;
  border-radius: 16px;
  animation: fadeindown 0.4s forwards;

  button {
    color: colors.$WHITE;
  }
}
