@use '/src/styles/mixins/position';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.work {
  @include flexbox.flexbox;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.postList {
  @include flexbox.flexbox;
  transform: rotate(-90deg) translateY(100vh);
}

.button {
  position: fixed;
  bottom: 200px;
  color: var(--color-text);
}
