@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.wrap {
  width: 100%;
  height: 100%;
}

.header {
  @include flexbox.flexbox;
  width: 100%;
  height: 72px;
  padding: 20px;
  border-bottom: 1px solid colors.$GRAY2;

  .searchBarWrap {
    @include flexbox.flexbox('start');
    width: 100%;

    .searchInput {
      width: 100%;
      height: 40px;
      padding-left: 15px;
      color: colors.$WHITE;
      background-color: colors.$GRAY2;
      border-radius: 8px;
    }

    .cancelButton {
      width: 40px;
      margin-left: 8px;
      color: colors.$WHITE;
    }
  }
}

.main {
  height: 100%;
  padding: 0 20px;

  .movieLists {
    height: 100%;
    overflow-y: scroll;
  }

  .notFound {
    @include position.posCenter;
    @include flexbox.columnFlexbox;

    svg {
      width: 120px;
      height: 120px;
      margin-bottom: 4px;
      fill: white;
    }
  }
}
