// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

$BT_BASIC: #14121e;

$BG_G: #f4f5fe;
$BG_ASIDE: #ececf6;
$BG_WHITE: #fefefe;

$TEXT_PRIMARY: #272526;
$TEXT_SECONDARY: #999b9a;
$TEXT_WHITE: #f8f8f8;

$BT_WHITE: #f8f8f8;

$BORDER: #d1d8dc;
