$PRIMARY: #ffbf00;

$BACKGROUND: #fefefe;
$BACKGROUND_YELLOW: #ffffd8;

$CHART_YELLOW: #ffbf00;
$CHART_ORANGE: #ff801f;
$CHART_GRAY: #ededed;

$TEXT_PRIMARY: #333333;
$TEXT_SECONDARY: #676767;

$BORDER: #ededed;
$SHADOW: rgba(0, 0, 0, 16%);

$TAG_PRIMARY: #fee5e0;
$TAG_SECONDARY: #f2f2f2;

$CARD_TEXT_PRIMARY: #474747;
$CARD_TEXT_SECONDARY: #9e9e9e;
