@use '/src/styles/constants/colors';

.card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 48px 20px 40px;
  margin-top: 20px;
  color: colors.$CARD_TEXT_PRIMARY;
  border-radius: 15px;
  box-shadow: 0 2px 10px colors.$SHADOW;

  .titleNumber {
    margin-bottom: 10px;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
  }

  .title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
  }

  svg {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  p {
    line-height: 1.4;

    strong {
      font-weight: 600;
    }
  }

  .normalRange {
    margin: 12px 0 16px;
    font-size: 12px;
    color: colors.$CARD_TEXT_SECONDARY;
  }

  .tagList {
    display: flex;
    margin: 10px 0 30px;

    li {
      padding: 8px 12px;
      margin-left: 10px;
      font-size: 12px;
      font-weight: 500;
      background: colors.$TAG_SECONDARY;
      border-radius: 15px;
    }

    li:first-of-type {
      margin: 0;
      background: colors.$TAG_PRIMARY;
    }
  }

  .careDesc {
    padding-top: 30px;
    border-top: 2px solid colors.$BORDER;

    .careTitle {
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 600;
    }

    .descList {
      li {
        padding-left: 20px;
        margin-top: 16px;
        font-size: 14px;
        line-height: 1.6;
        text-align: justify;
        text-indent: -20px;
        list-style: disc inside;

        span {
          position: relative;
          left: -8px;
        }
      }
    }
  }
}
