.header {
  max-width: 1440px;
  height: 56px;
  margin: 0 auto;

  .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
  }

  .logo {
    width: 120px;
    margin-top: 4px;
    margin-left: 30px;
    text-align: left;

    .moaLogo {
      width: 116px;
    }
  }

  .user {
    display: flex;

    li {
      margin-left: 12px;
    }

    li:last-of-type {
      margin-right: 12px;
    }

    a {
      all: unset;
    }
  }
}
