@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.header {
  padding: 20px;
}

.title {
  font-size: 20px;
  font-weight: 100;

  &::after {
    position: relative;
    top: -4px;
    display: inline-block;
    width: 20px;
    height: 1px;
    content: '';
    background-color: var(--color-text);
  }
}

.subTitle {
  position: relative;
  top: -3px;
  font-size: 10px;
}

@include responsive.after(SD) {
  .title {
    font-size: 35px;

    &::after {
      top: -8px;
    }
  }

  .subTitle {
    font-size: 14px;
  }
}
