@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/responsive';

.container {
  position: relative;
  color: var(--color-text);
}

.header {
  @include position.fixed(20px auto auto 20px);
  z-index: levels.$HEADER;

  @include responsive.after(LD) {
    @include position.fixed(auto auto 40px 50px);
  }
}

.aside {
  position: absolute;
  z-index: levels.$SIDEBAR;
}

.main {
  width: 100vw;
  min-height: 100vh;
}
