@use 'src/styles/constants/colors';

.yearlyChart {
  .top {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    .title {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.4;
    }

    button {
      padding: 5px 10px;
      font-size: 12px;
      color: colors.$TEXT_SECONDARY;
      border: 1px solid colors.$BORDER_BUTTON;
      border-radius: 50px;
    }
  }

  .analyseMsgWrapper {
    margin-bottom: 48px;
    line-height: 1.4;

    strong {
      color: colors.$TEXT_HILIGHT;
      background: linear-gradient(colors.$BACKGROUND 50%, colors.$HIGHLIGHT 50%);
    }
  }
}
