@use 'src/styles/constants/colors';

.yearlyChart {
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;

    .title {
      width: 150px;
      font-size: 24px;
      font-weight: 600;
      text-align: left;
    }

    button {
      height: 30px;
      padding: 0 10px;
      font-size: 16px;
      color: colors.$TEXT_SECONDARY;
      border: 1px solid colors.$TEXT_SECONDARY;
      border-radius: 50px;
    }
  }

  .analyseMsgWrapper {
    margin-bottom: 48px;
    font-size: 22px;
    text-align: left;

    mark {
      color: colors.$CHART_ORANGE;
    }
  }
}
