@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/animation';

.tabs {
  position: relative;
  display: flex;
}

.tab {
  @include flexbox.flexbox;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

input[type='radio']:checked + label {
  font-weight: 600;
  color: colors.$GREENA;
}

.slider {
  position: absolute;
  top: 50px;
  width: 150px;
  height: 4px;
  border-bottom: 2px solid colors.$GREENB;
  @include animation.cubicBezier(0.3s);
}

@for $i from 0 through 2 {
  input:nth-of-type(#{$i + 1}):checked ~ .slider {
    transform: translateX($i * 100%);
  }
}
