@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.movieItem {
  @include flexbox.flexbox('start');
  height: 100px;
  margin: 14px 0;

  img {
    width: 68px;
    height: 100%;
    margin-right: 10px;
    border-radius: 4px;
    object-fit: cover;
  }

  dt {
    display: -webkit-box;
    width: 100%;
    padding: 2px;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  dd {
    display: block;
    font-size: 0.8em;
    color: colors.$GRAY6;
  }

  svg {
    position: relative;
    bottom: 10px;
    fill: colors.$GRAY3;
  }

  .marked {
    fill: colors.$YELLOW2;
  }
}
