@use '/src/styles/constants/colors';

.container {
  position: relative;
  max-width: 375px;
  margin: 0 auto;
  background: colors.$PRIMARY;
  box-shadow: 0 -1px 10px 0 colors.$SHADOW;

  .header {
    height: 80px;
    padding: 0 20px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 600;
    line-height: 80px;
  }

  .page {
    position: relative;
    padding: 0 20px;
    background: colors.$BACKGROUND;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}
