@use '/src/styles/constants/colors';

.inputBox {
  display: flex;
  align-items: center;
  height: 50px;

  .labelContainer {
    min-width: 60px;

    label {
      height: 50px;
      font-weight: 600;
      line-height: 30px;
    }
  }

  input {
    height: 50px;
    padding: 0 20px;
    margin-left: 20px;
    border: 1px solid colors.$BORDER;
    border-radius: 8px;

    &::placeholder {
      text-align: center;
    }

    &:focus::placeholder {
      color: colors.$BG_G;
      text-align: left;
    }
  }

  span {
    width: 30px;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
  }
}
