@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.gnb {
  @include flexbox.flexbox;
  border-top: 2px solid colors.$GRAY2;

  ul {
    display: flex;
    margin-top: 8px;
  }

  li {
    margin: 0 10px;
    font-size: 16px;
  }

  .isActive {
    font-weight: 600;
  }
}
