@use '/src/styles/constants/colors';

.post {
  position: absolute;
  width: 480px;
  height: 312px;
  font-size: 12px;
  transition: 1s;

  .contentWrap {
    transform: rotate(90deg);
  }

  .img {
    padding-top: 52%;
    background: black;
  }

  .title {
    margin-top: 24px;
    font-size: 15px;
    line-height: 1.6em;
  }

  .desc {
    margin-bottom: 14px;
    font-size: 12px;
    color: colors.$TEXT_DESC;
  }
}
