@use '/src/styles/constants/colors';
@use '/src/styles/mixins/container';

.subNav {
  @include container.subNav;

  button {
    height: 23px;
    font-size: 16px;
    cursor: pointer;
  }
}

.title {
  @include container.title;
}

.manageDetailContainer {
  padding: 20px;

  .chartContainer {
    display: flex;
    margin-top: 32px;

    section {
      flex-grow: 1;
    }
  }
}

.userInfoContainer {
  @include container.container;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}
