@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/responsive';

.about {
  @include flexbox.flexbox('center', 'start');
  padding: 100px 24px 40px;
  font-weight: 300;
  line-height: 24px;
  color: var(--color-primary);

  section {
    width: 100%;
    margin-bottom: 20px;
  }

  h2 {
    margin: 12px 0 14px;
    font-size: 18px;
    font-weight: 600;
  }

  h3 {
    margin: 12px 0 8px;
    font-size: 14px;
    font-weight: 500;
  }

  svg {
    width: 32px;
    height: 32px;
    margin-right: 18px;
  }

  .github {
    fill: var(--color-text);
  }
}

.content {
  @include flexbox.columnFlexbox('start', 'start');
  width: 700px;
}

.introduce {
  .hello {
    margin: 20px 10px 40px;
  }

  .goal {
    font-size: 14px;
  }

  .lists {
    padding-right: 12px;
    margin-top: 20px;
    border-left: 4px solid #ffaa00;

    li {
      margin: 10px 0 10px 10px;
      line-height: 1.6;

      &::before {
        margin-right: 8px;
        font-size: 16px;
        content: '⦁';
      }
    }
  }
}

.links {
  display: flex;
}
