// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

$BT_BASIC: #5539f1;
$TEXT_PURPLE: #5539f1;
$TEXT_EMERALD: #21cc9e;
$HEADER: #eeebff;

$TEXT_H2: #3a335e;
$BG_G: #f7f8fa;
$BG_ASIDE: #f8f9fd;
$BG_WHITE: #fefefe;

$TEXT_PRIMARY: #1d1d1f;
$TEXT_SECONDARY: #94a2ad;
$TEXT_WHITE: #f8f8f8;
$TEXT_RED: #ff0000;

$BT_WHITE: #f8f8f8;
$BT_SECONDARY: #e5e5f1;

$BORDER: #e5e5f1;

$ERROR: #ea0000;
